extends layout

block content
    include includes/admin_navbar.pug
    include includes/alert.pug
    h1.display-4.text-center.my-5 Student Users
    div#table-container
        table.table.table-bordere
            thead
                tr
                th(scope='col') ID
                th(scope='col') Name
                th(scope='col') email
                th(scope='col') remove
            tbody
                each val in students
                    tr(id=`row-${val.id}`)  
                        th(scope='row') #{val.id}
                        td #{val.name}
                        td #{val.email}
                        td 
                            button.btn.btn-sm.btn-outline-secondary(onclick=`removeUser(${val.id}, 'student')`)
                                i.bi.bi-trash-fill(onclick=`removeUser(${val.id}, 'student')`)