extends layout

block content
  h1.my-3.text-center Lecture Schedule 
  div#table-container
    table.table.table-bordered.table-striped
        thead 
            tr
                th(scope='col') #
                th(scope='col') time 
                th(scope='col') Monday 
                th(scope='col') Tuesday 
                th(scope='col') Wednesday 
                th(scope='col') Thursday 
                th(scope='col') Friday 
        tbody             
            each val in schedule
                tr  
                    th(scope='row') #{val.periodid}
                    td #{val.time}
                    td #{val.monday}
                    td #{val.tuesday}
                    td #{val.wednesday}
                    td #{val.thursday}
                    td #{val.friday}