extends layout

block content
  .float-start.text-primary.btn(onclick="previousPage()")
    i.bi.bi-arrow-left-circle.fs-2.fw-normal
  h1.display-5.my-3.text-center.text-capitalize Lecturer: #{schedule[0].name} 
  //- .container.mb-4.rounded.alert-primary.p-2
  //-   h6 Alerts from Lecturer:
  //-   p.m-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ut quidem tenetur voluptatem eligendi quibusdam tempore tempora, omnis facere deserunt!
  if schedule.length
    div#table-container
        table.table.table-bordered.table-striped
            thead 
                tr
                    th(scope='col') #
                    th(scope='col') time 
                    th(scope='col') Monday 
                    th(scope='col') Tuesday 
                    th(scope='col') Wednesday 
                    th(scope='col') Thursday 
                    th(scope='col') Friday 
            tbody             
                each val in schedule
                    tr  
                        th(scope='row') #{val.period_id}
                        td #{val.time}
                        td #{val.monday}
                        td #{val.tuesday}
                        td #{val.wednesday}
                        td #{val.thursday}
                        td #{val.friday}
  else
    h3.text-center.my-5.text-muted lecturer's Schedule has not been populated